/* Testing Envirement
-------------------------------------------------*/

#testEnv {
	font-family: sans-serif;
	font-size: 10px;
	line-height: 19px;
	pointer-events: none;
}

/* fpo images */

#testEnv .fpoImg {
	position: absolute;
	visibility: hidden;
}

/* buttons */

#testEnv #testBtns {
	padding-top: 625px;
	width: 300px;
}

#testEnv div.btn {
	float: left;
	background: url("testEnvBtns.svg") no-repeat;
	background-size: 78% auto;
	width: 42px;
	height: 20px;
	margin: 4px;
	border: 1px solid #ccc;
	border-radius: 6px;
	pointer-events: auto;
	cursor: pointer;
}
#testEnv .replay.btn
{
	background-position: 5px 2px;
}
#testEnv .pause.btn
{
	background-position: 5px -14px;
}
#testEnv .stop.btn
{
	background-position: 5px -47px;
}
#testEnv .fpo.btn
{
	background-position: 5px -63px;
}

#testEnv span {
	float: left; /* to be able to apply width */
	width: 85px;
	text-align: right;
	padding: 5px 5px 0 0;
}

#testEnv #speed1, 
#testEnv #post1 {
	background: none;
	text-align: center;
	font-weight: bold;
}

/*
-------------------------------------------------*/